version: "3"
services:
  node-api:
    container_name: backend
    image: react-native-bootcamp/backend:1.0.0
    restart: always
    build: .
    ports:
      - "8080:8080"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
